<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyTuVanTuyenSinh.Properties.Settings.QL_Tuyen_SinhConnectionString"
            connectionString="Data Source=DAI\MYSQLSERVER;Initial Catalog=QL_Tuyen_Sinh;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>